
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4>Criar conta de Usuário</h4>
Preencha os campos abaixo para criar sua conta de acesso.
<br />
<br />

@model Projeto.Presentation.Models.UsuarioCadastroViewModel

@using (Html.BeginForm())
{
    <label>Nome do Usuário:</label>
    @Html.TextBoxFor(model => model.Nome,
        new { @class = "form-control col-md-4", @placeholder = "Digite aqui" })
    <div class="text-danger">
        @Html.ValidationMessageFor(model => model.Nome)
    </div>
    <br />

    <label>Login de Acesso:</label>
    @Html.TextBoxFor(model => model.Login,
        new { @class = "form-control col-md-4", @placeholder = "Digite aqui" })
    <div class="text-danger">
        @Html.ValidationMessageFor(model => model.Login)
    </div>
    <br />

    <label>Senha de Acesso:</label>
    @Html.PasswordFor(model => model.Senha,
        new { @class = "form-control col-md-4", @placeholder = "Digite aqui" })
    <div class="text-danger">
        @Html.ValidationMessageFor(model => model.Senha)
    </div>
    <br />

    <label>Confirme sua Senha:</label>
    @Html.PasswordFor(model => model.SenhaConfirm,
        new { @class = "form-control col-md-4", @placeholder = "Digite aqui" })
    <div class="text-danger">
        @Html.ValidationMessageFor(model => model.SenhaConfirm)
    </div>
    <br />

    <label>Permissão de Acesso:</label> 
    @Html.TextBoxFor(model => model.Permissao,
        new { @class = "form-control col-md-4" })
    <div class="text-danger">
        @Html.ValidationMessageFor(model => model.Permissao)
    </div>
    <br/>
    <input type="submit" value="Cadastrar Usuário" class="btn btn-success" />

    <br/>
    <br/>
    @ViewBag.Mensagem

}